.subs {
    margin-bottom: 100px;
}

.subsRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.subsTitle {
    text-decoration: underline;
    letter-spacing: 2px;
    margin-bottom: 5px;
    color: brown;
    font-weight: 600;
}

.subsDesc {
    letter-spacing: 1.3px;
    margin-bottom: 10px;
}

.subsInput input {
    height: 40px;
    border: none;
    outline: none;
    border-bottom: 1px solid darkslategrey;
    width: 350px;
    letter-spacing: 1.3px;
    color: darkslategrey;
}

.subsInput input::placeholder {
    letter-spacing: 1.2px;
}

.subsInput button {
    height: 40px;
    background-color: darkslategray;
    color: azure;
    padding: 0 15px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: all 0.5s;
}

.subsInput button:hover {
    background-color: chocolate;
}